* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* Hamburger Menu */

.hamburger-menu {
	visibility: hidden;
	opacity: 0;
	width: 4rem;
	height: 4rem;
	position: fixed;
	top: 4rem;
	left: 6rem;
	z-index: 200;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	cursor: pointer;
}

.line {
	width: 100%;
	height: .2rem;
	background-color: #fff;
}

/* End of Hamburger Menu */

/* Header */
.Header {
	width: 100%;
	height: 100vh;
	background: url("../images/section1.jpg") center no-repeat;
	background-size: cover;
	position: relative;
}

.logo-wrapper {
	flex-direction: column;
	width: 40rem;
	margin-bottom: 12rem;
}

.logo {
	width: 22rem;
	margin-bottom: 3rem;
}

.logo-text {
	color: #fff;
	font-size: 3rem;
	text-align: center;
	text-shadow: .2rem .2rem .2rem #000;
	letter-spacing: .1rem;
	font-weight: 400;
}



.navbar {
	justify-content: space-evenly;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5rem;
	background-color: rgba(0,0,0,0.4);
}


.navbar-link {
	font-size: 2.5rem;
	color: #fff;
	display: flex;
	cursor: pointer;
	transition: all .3s ease-in-out;
	
}


.navbar-link:hover {
	transform: scale(1.2);
	color: #AF1616;
}



/* End of Header */

/* Section  */

.section {
	width: 100%;
	background-color: #101010;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0rem 10rem 10rem 10rem;
}



.why-us{
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}



.why-us-item {
	margin: 0 4rem 0 4rem;
	padding: 120px 20px 0 20px;
	width: 20%;
	color: #fff;
	text-align: center;
}

.why-us-item:first-child {
	position: absolute;
	top: -17rem;
	left: 0;
}

.why-us-item:last-child {
	position: absolute;
	top: -17rem;
	right: 0;
}



.why-us-header i {
	font-size: 3.5rem;
	text-shadow: 0 .2rem .2rem #000;
	margin-bottom: 2rem;
}


.why-us-header h2 {
	font-size: 2.5rem;
	text-shadow: 0 .2rem .2rem #000;
	margin-bottom: 2rem;
}


.why-us-item p {
	font-size: 1.9rem;
	text-shadow: 0 .2rem .2rem #000;
}



.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 12rem;
	margin-top: 12rem;
}

.section-heading {
	font-size: 3.5rem;
	letter-spacing: .1rem;
	color: #fff;
	font-weight: 300;
	text-shadow: 0 .2rem .2rem #000;
	margin-bottom: 2rem;
}

.underline {
	height: .2rem;
	width: 15rem;
	background-color: #fff;
}

.cards-wrapper {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.card {
	width: 35rem;
	height: 45rem;
	margin: 0 1rem 0 1rem;
	border-radius: .5rem;
	box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
	position: relative;
	overflow: hidden;
	transition: all .3s ease-in-out;
}

.card-img {
	width: 100%;
	height: 100%;
	border-radius: .5rem;
	background-color: #000;
}

.card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: .9;
	transition: all .3s ease-in-out;
}

.card:hover {
	transform: translateY(-12px) scale(1.05);
	cursor: pointer;
}

.card:hover .card-img img{
	opacity: .1;
}

.card-info {
	position: absolute;
	bottom: 0;
	padding: 2rem;
	text-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
	opacity: 0;
	visibility: hidden;
	transition: all .3s; 
}

.card:hover .card-info {
	bottom: 1rem;
	opacity: 1;
	visibility: visible;
}

.card-info h2{
	font-size: 2.5rem;
	line-height: 3.5rem;
	color: #AF1616;
	text-shadow: 0 .4rem .5rem rgba(0,0,0,.7);
	font-family: 'Rufina', serif;
	font-weight: 700; 
}

.card-info p {
	font-size: 1.7rem;
	line-height: 2.3rem;
	width: 60%;
	color: #fff;
	text-shadow: 0 .4rem .5rem rgba(0,0,0,.7);
	font-family: 'Rufina', serif; 
}

/* End of Section */

/* Footer */

.footer {
	width: 100%;
	height: 20vh;
	background-color: #0A0A0A;
	text-align: center;
	padding: 0rem 10rem 0 10rem;
}

.footer-content {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-content p {
	font-size: 2rem;
	color: #fff;
	letter-spacing: .1rem;
}

.menu-wrapper {
	height: 100%;
}

.menu-item {
	font-size: 2rem;
	color: #fff;
	letter-spacing: .1rem;
	padding: 0 0 0 4rem;
	transition: color .3s ease-in-out;
}

.menu-item:hover {
	color: #AF1616;
}


/* End of Footer */

/* Screen sizes */

@media (max-width: 1100px) {
	.why-us {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.why-us-item:first-child {
		position: relative;
		top: 0;
	
	}

	.why-us-item:last-child {
		position: relative;
		top: 0;
		margin-bottom: 0;
	}

	.why-us-item {
		margin-bottom: 7rem;
		padding-top: 0;
		width: 100%;
	}

	.card {
		height: 35rem;
	}



	.menu-wrapper {
		width: 35%;
	}



}


@media (max-width: 905px) {


.cards-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.card {
	width: 80%;
	height: 20rem;
	margin: 2rem 0 2rem 0;
}

.footer-content p {
	font-size: 1.5rem;
}


.menu-item {
	font-size: 1.5rem;
}


}


@media (max-width: 815px) {
	.footer-content p {
		font-size: 1.4rem;
		
	}


	.menu-item {
		font-size: 1.4rem;
		padding: 0 0 0 1.5rem;
	}
}


@media (max-width: 768px) {

	.hamburger-menu {
		visibility: visible;
		opacity: 1;
	}


	.why-us-item {
		width: 80%;
	}

	.card {
		width: 80%;

	}

	.card-img img {
		opacity: .1;
	}

	.card-info {
		bottom: 0;
		opacity: 1;
		visibility: visible;
	}


	.card-info p {
		width: 90%;
	}


	.navbar {
		position: fixed;
		flex-direction: column;
		width: 100%;
		background-color: #0A0A0A;
		top: -150rem;
		height: 100vh;
		z-index: 100;
		transition: top .5s;
	}

	.change .navbar {
		top: 0;
	}

	.footer {
		height: 15vh;
	}

}

@media (max-width: 660px) {
	.menu-wrapper {
		width: 30%;
	}

	.footer {
		height: 25vh;
	}

	.logo-text {
		font-size: 2.5rem;
	}

	.logo-wrapper {
		width: 30rem;
	}

	.card-info h2{
		font-size: 2rem;
		line-height: 3.5rem;
	}

	.card-info p {
		font-size: 1.3rem;
		line-height: 2.3rem;
		width: 100%; 
	}

}

@media (max-width: 590px) {

	.logo {
		width: 20rem;
	}

	.logo-text {
		font-size: 2rem;
	}

	.logo-wrapper {
		width: 25rem;
	}

	.card {
		width: 90%;
		height: 15rem;
	}

	.card-info h2{
		font-size: 1.8rem;
		line-height: 3.5rem;
	}

	.card-info p {
		font-size: 1.2rem;
		line-height: 2.3rem;
		width: 100%; 
	}

}


@media (max-width: 420px) {

	.logo {
		width: 15rem;
	}

	.logo-text {
		font-size: 1.4rem;
	}

	.logo-wrapper {
		width: 17rem;
	}

	.footer-content {
		width: 100%;
	}

	.card-info h2{
		font-size: 1.8rem;
		line-height: 3rem;
	}

	.card-info p {
		font-size: 1.2rem;
		line-height: 1.5rem;
		width: 100%; 
	}


}


/* End of Screen sizes */